<header class="bg-naranja py-8 shadow-md font-fira-sans text-xl left-0 right-0 z-10 flex justify-between items-center px-4">

  <div class="flex space-x-4 mr-8 ">
    <button [routerLink]="['/loguin']"class=" border 400  hover:bg-amarillo text-white px-4 py-2 rounded focus:outline-none focus:ring focus:ring-blue-300">
      Inicio
    </button>
    <button onclick="location.href='#quienes-somos'" class="border hover:bg-amarillo text-white px-4 py-2 rounded focus:outline-none focus:ring focus:ring-green-300">
      ¿Quienes Somos?
    </button>
       <button onclick="location.href='#nuestros-programas'" class="border hover:bg-amarillo text-white px-4 py-2 rounded focus:outline-none focus:ring focus:ring-green-300">
      Nuestros Programas
    </button>
          <button [routerLink]="['/activate']" class="border hover:bg-amarillo text-white px-4 py-2 rounded focus:outline-none focus:ring focus:ring-green-300">
      Galeria
    </button>
  </div>
</header>



<div class="relative w-full h-[650px] bg-cover bg-center" style="background-image: url('./assets/mqt.png')">

  <!-- Texto FUNDACIÓN -->
  <div class="absolute bottom-24 w-full text-center text-white text-5xl font-semibold">
    FUNDACIÓN
  </div>

  <!-- Franja amarilla con texto -->
  <div class="absolute bottom-0  w-full bg-amarillo text-center text-white text-6xl font-bold py-4">
    MANOS QUE TEJEN FUTURO
  </div>

</div>

<section id="quienes-somos" class="w-full py-12 px-6 bg-crema 100">
  <h2 class="text-4xl font-bold text-left mb-6 text-azuldegra 800 max-w-4xl mx-auto ml-12">¿Quiénes Somos?</h2>
  <p class=" text-amarillo 700 text-justify  ml-12 text-4xl">
    Promovemos el desarrollo integral de mujeres, niños, niñas y jovenes; mediante procesos formativos, espirituales y comunitarios
  </p>
</section>

<section id="nuestros-programas" class="w-full py-12 px-6 bg-azuldegra 100">

  <h2 class="text-5xl font-bold text-center mb-6 text-crema 800">
    Nuestros programas
  </h2>

  <div class="flex flex-wrap justify-center gap-6">
    <!-- Tarjeta 1 -->
    <div class="bg-crema 100 rounded-lg shadow-md p-4 w-60">
      <img src="assets/estrellitas.png" alt="Estrellitas Marianas Vicentinas" class="mx-auto mb-4">
      <p class="font-bold text-pink-600 text-center">Estrellitas Marianas Vicentinas</p>
    </div>

    <div class="bg-crema rounded-lg shadow-md p-4 w-60">
      <img src="assets/pre.jpg" alt="Prejuvenil Mariano Vicentino" class="mx-auto mb-4">
      <p class="font-bold text-amarillo text-center">Prejuvenil Mariano Vicentino</p>
    </div>

<div class="bg-white rounded-lg shadow-md p-4 w-60">
      <img src="assets/jv.png" alt="Juventudes Marianas Vicentinas" class="mx-auto mb-4">
      <p class="font-bold text-cyan-600 text-center" >Juventudes Marianas Vicentinas</p>
    </div>
      


      <!-- Tarjeta 4 -->
    <div class="bg-white rounded-lg shadow-md p-4 w-60">
      <img src="assets/sembradoras.png" alt="Sembradoras de Sueños" class="mx-auto mb-4">
      <p class="font-bold text-orange-600">Sembradoras de Sueños</p>
    </div>

    </div>
 </section>



<app-footer></app-footer>