<footer class="bg-gradient-to-r from-aguadegad to bg-azuldegra">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
      <img src="/assets/Logo-EAFIT.png" class="mr-5 h-8 sm:h-9" alt="logo" />
      <div>
      <input type="text" class="mt-4 border border-azuldegra border-1">
      <button class="ml-4 bg-azulheader text-white px-8 border border-azuldegra rounded-lg">Enviar</button>
      </div>
        <p class="max-w-xs mt-4 text-sm text-white">
          Entérate de tendencias, novedades y apertura de cursos. *Al ingresar tu mail damos por sentado que aceptas nuestra <a class="underline underline-offset-1" href="https://www.eafit.edu.co/datospersonales"><i>política de tratamiento de datos.</i></a>
        </p>
        <div class="flex mt-8 space-x-6">
          <a class="hover:opacity-75 text-white fa-2x" href="https://www.facebook.com/universidadeafit" target="_blank">
            <fa-icon [icon] = "fafacebook "> </fa-icon>
          </a>
          <a class="hover:opacity-75 text-white fa-2x" href="https://www.instagram.com/nodo.eafit/?igshid=NzAzN2Q1NTE%3D" target="_blank">
            <fa-icon [icon] = "fainstagram "> </fa-icon>
          </a>
          <a class="hover:opacity-75 text-white fa-2x" href="https://twitter.com/EAFIT" target="_blank">
            <fa-icon [icon] = "fatwitter "> </fa-icon>
          </a>
          <a class="hover:opacity-75 text-white fa-2x" href="https://www.linkedin.com/showcase/nodo-eafit/" target="_blank">
            <fa-icon [icon] = "falinkedin "> </fa-icon>
          </a>
          <a class="hover:opacity-75 text-white fa-2x" href="https://www.youtube.com/@nodoeafit" target="_blank">
            <fa-icon [icon] = "fayoutube "> </fa-icon>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
        <div>
          <p class="font-medium text-white font-bold">
            About
          </p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-white">
            <a class="hover:opacity-75 underline underline-offset-1" href="https://www.google.com/maps/dir//Universidad+EAFIT,+Carrera+49,+Cl.+7+Sur+%2350,+Medell%C3%ADn,+Antioquia/@6.1881848,-75.5939214,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8e46827ce55554cf:0xab8ed474ed2c00a9!2m2!1d-75.5792681!2d6.1997094?entry=ttu"> Carrera 49 N° 7 Sur -50. </a>
            <p class="hover:opacity-75">Línea nacional 01 8000 515 900</p>
            <p class="hover:opacity-75" href>Línea de atención (57) 604 2619500</p>
            <p class="hover:opacity-75" href>Whatsapp: (57) 310 8992908</p>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white font-bold">
            Legal
          </p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-white">
            <a class="hover:opacity-75 underline underline-offset-1 " href="https://www.eafit.edu.co/datospersonales"> Politica de tratamiento de datos.</a>
            <a class="hover:opacity-75 underline underline-offset-1" href="https://www.eafit.edu.co/datospersonales#:~:text=De%20esta%20manera%2C%20la%20Universidad,%2C%20libertad%2C%20veracidad%20o%20calidad%2C" target="_blank"> Politica de privacidad. </a>
            <a class="hover:opacity-75 underline underline-offset-1" href="https://www.eafit.edu.co/Paginas/PQRSF.aspx"> PQRSF.</a>
          </nav>
        </div>
      </div>
    </div>
    <p class="mt-8 text-lg text-white">
      Todos los derechos reservados © 2023, Universidad Eafit.
    </p>
  </div>
</footer>