
  <body class="">
    <app-header></app-header>

   <app-navbar></app-navbar>

    <!-- Botones -->


<div class="flex flex-col items-center mb-10 mr-3 pl-10">
  
  <div class="flex flex-col justify-center md:max-w-6xl md:flex-row">


      
      <div class="max-w-sm rounded overflow-hidden shadow-lg card-container">
        <img class="w-full h-40"src="assets/showroom.png"alt="Sunset in the mountains"/>
  
        <div class="px-6 py-4">
          <p class="text-gray-700 text-base h-40">
            ¡Te invitamos a descubrir nuestros inspiradores espacios! En este
            lugar encontrarás un mundo de posibilidades para dar vida a tus
            proyectos e ideas innovadoras.
          </p>
        </div>
  
        <div class="px-6 pt-4 pb-5">
          <button
            class="w-full px-4 py-2 tracking-wide font-bold text-white transition-colors duration-200 transform bg-aguadegad rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
            <span> Conoce nuetros espacios </span>
          </button>
        </div>
      </div>
  
  
  
      <div class="max-w-sm rounded overflow-hidden shadow-lg card-container">
        <img
          class="w-full h-40"
          src="assets/reservas.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <p class="text-gray-700 text-base h-40">
            Ofrecemos un entorno inspirador y equipado con las herramientas
            necesarias para llevar a cabo tus proyectos de manera efectiva y
            creativa. ¡Reserva ahora y da vida a tus ideas en un ambiente
            propicio para la innovación!
          </p>
        </div>
        <div class="px-6 pt-4 pb-5">
          <button
            [routerLink]="['/reserva']"
            class="w-full px-4 py-2 tracking-wide font-bold text-white transition-colors duration-200 transform bg-aguadegad rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
          >
            <span> Reservar </span>
          </button>
        </div>
      </div>
  
      <div class="max-w-sm rounded overflow-hidden shadow-lg card-container">
        <img class="w-full h-40" src="assets/misreservas.png" alt="" />
        <div class="px-6 py-4">
          <p class="text-gray-700 text-base h-40">
            ¿Deseas verificar tus reservas activas? Podras acceder a tu panel de
            reservas y revisar todas tus reservas activas.¡Tu comodidad y
            productividad son nuestra prioridad!
          </p>
        </div>
        <div class="px-6 pt-4 pb-5">
          <button
            [routerLink]="['/misreservas']"
            class="w-full px-4 py-2 tracking-wide font-bold text-white transition-colors duration-200 transform bg-aguadegad rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
          >
            <span> Ver mis reservas </span>
          </button>
        </div>
      </div>
    
  
  </div>
  </div>

  

    
  </body>

<app-footer></app-footer>
