.sidebar {

    transition: width 0.2s ease;
  
    height: 100%;
  
    background-color: #ffffff;
  
    overflow: hidden;
  
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  
  }
  
   
  
  .sidebar.w-56 {
  
    width: 200px;
  
  }
  
   
  
  .sidebar.w-0 {
  
    width: 50px;
  
  }
  
   
  
  .logo {
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    height: 80px;
  
    border-bottom: 1px solid #ddd;
  
  }
  
   
  
  .logo h1 {
  
    font-size: 24px;
  
    padding: 20px 0;
  
    list-style: none;
  
  }
  
   
  
  .menu {
  
    padding: 20px 0;
  
    list-style: none;
  
  }
  
   
  
  .menu li {
  
    margin-bottom: 10px;
  
  }
  
   
  
  .menu li a {
  
    display: flex;
  
    align-items: center;
  
    text-decoration: none;
  
    color: #000000;
  
    padding: 10px;
  
    transition: all 0.1s ease;
  
  }
  
   
  
  .menu li a:hover {
  
   
    background-color: 
    #00C99F
    ;
  
    color: #333333;
  
  }
  
   
  
  .menu .icon {
  
    margin-right: 15px;
  
  }
  
   
  
  .menu .text {
  
    font-size: 16px;
  
  }