

<div class="bg-azuldegra ">
    <div class="flex justify-center h-screen">
        
        <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image:  url('./assets/todo-el-laboratorio-2.jpg'); ">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40 backdrop-blur-sm ">
                <div>
                    <h2 class="text-8xl font-bold text-white">Laboratorio futuros.</h2>
                    <p class="max-w-xl text-2xl text-white">Un espacio de vanguardia dedicado a la innovación y la creatividad. Aquí, personas apasionadas y visionarias se reúnen para dar vida a sus ideas y convertirlas en soluciones concretas.</p>
                </div>
            </div>
        </div>
  
        <div class="flex items-center w-full max-w-md px-4 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                  
                    <h2 class="text-4xl font-bold text-center text-white ">Usuario</h2>
  
                    <p class="mt-3 font-bold text-xl text-white">Sign in to access your account</p>
                </div>
  
                <div class="mt-8">
                    <form #LoguinForm="ngForm" (ngSubmit)="loguin()">
                        <div>
                            <label for="email" class="block mb-2 text-sm text-white ">Email Address</label>
                            <input [(ngModel)]="model.email"  type="email" name="email" id="email" placeholder="example@example.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600   dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" #email="ngModel">
                            
                        </div>
  
                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-white">Password</label>
                                <a href="#" class="text-sm text-white focus:text-blue-500 hover:text-black hover:underline">Forgot password?</a>
                            </div>
  
                            <input [(ngModel)]="model.password" type="password" name="password" id="password" placeholder="Your Password" class="block w-full px-4 py-2 mt-2 text-black placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600   dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                        </div>
  
                        <div class="mt-6">
                            <button
                                class="w-full px-4 py-2 tracking-wide font-bold text-white transition-colors duration-200 transform bg-aguadegad rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50" type="submit" >
                                Ingresar
  
                            </button>
                        </div>
  
                    </form>
  
                    <p class="mt-6 text-sm text-center text-white">Don&#x27;t have an account yet? <a href="http://localhost:4200/activate" class="text-black focus:outline-none focus:underline hover:underline">Sign up</a>.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  