

<body class="bg-azulheader opacity-100">

    <!-- Sección de introducción -->
    <header class="bg-azulheader bg-opacity-25 text-white text-center py-10 border border-white rounded">
        <div class="container mx-auto flex justify-between items-center">
            <div class="w-1/2">
                <h1 class="text-4xl font-bold text-white opacity-30">LABORATORIO FUTUROS</h1>
                <p class="mt-4 ">Bienvenido a Laboratorios Futuros. Aquí puedes reservar en línea tus puestos de trabajo. ¡Inicia ahora mismo!</p>
            </div>
            <div class="w-1/2">
                <img src="assets/todo-el-laboratorio-2.jpg" alt="Laboratorio" class="mx-auto max-h-96">
            </div>
        </div>
    </header>

   
    <!-- Sección de próximos eventos -->
    <section class="py-10">
        <h2 class="text-2xl font-bold text-center  text-white opacity-30">Próximos eventos</h2>
        <div class="flex justify-center items-center text-white">
            <img src="assets/eventos.png" alt="Evento 1" class="w-48 h-48 mr-5">
            <ul>
                <li>Fecha: Sabado 30</li>
                <li>Hora: 8:00 am - 12:00 m</li>
                <li>Lugar: Centro de Ciencia, Tecnoglogia e Innovación</li>
            </ul>
            
        </div>
        <!-- Repite este bloque para más eventos -->
    </section>

    <!-- Sección de Nuestros Cursos -->
    <section class="py-10">
        <h2 class="text-2xl font-bold text-center  text-white opacity-30">Nuestros Cursos</h2>
        <div class="flex justify-center">
            <div class="mx-5 text-center">
                <i class="icono-icon-frontend text-4xl mb-2"></i>
                <p>Frontend</p>
            </div>
            <div class="mx-5 text-center">
                <i class="icono-icon-backend text-4xl mb-2"></i>
                <p>Backend</p>
            </div>
            <div class="mx-5 text-center">
                <i class="icono-icon-fundamentals text-4xl mb-2"></i>
                <p>Fundamentals</p>
            </div>
            <div class="mx-5 text-center">
                <i class="icono-icon-cloud-native text-4xl mb-2"></i>
                <p>Cloud Native</p>
            </div>
        </div>
    </section>


    <!-- Sección de Quieres Reservar -->
    <section class="bg-gray-200 py-10 text-center">
        <h2 class="text-2xl font-bold">¿Quieres Reservar?</h2>
        <button class="bg-blue-500 text-white px-6 py-2 mx-2 rounded-lg">Activate</button>
        <button class="bg-green-500 text-white px-6 py-2 mx-2 rounded-lg">Ingresa</button>
    </section>

    <!-- Agrega aquí tus enlaces a scripts JavaScript u otros recursos -->

</body>

